In [2]:
from tabulate import tabulate

In [17]:
# assign data
mydata = [
	["H", "1"], 
	["N", "14"], 
	["Si", "28"], 
	["Cl", "35.45"],
    ["Ar", "40"]
]

# create header
head = ["ATOM", "MASS"]

# display table
print(tabulate(mydata, headers=head, tablefmt="grid",showindex="always")) # showindex="always"

+----+--------+--------+
|    | ATOM   |   MASS |
+====+========+========+
|  0 | H      |   1    |
+----+--------+--------+
|  1 | N      |  14    |
+----+--------+--------+
|  2 | Si     |  28    |
+----+--------+--------+
|  3 | Cl     |  35.45 |
+----+--------+--------+
|  4 | Ar     |  40    |
+----+--------+--------+

# MERGE EXAMPLE
import tabulate_cell_merger.tabulate_cell_merger as tcm
table = [['a1', 'b1'], ['a2', 'b2']]
colspan = {(0, 0): 2}
rowspan = {(0, 1): 2}
print(tcm.tabulate(table, colspan, rowspan))

In [14]:
mols = ['NH3','NH2','NH','N2','NCl','SiCl','SiNH2','Cl2','HCl','NH2Cl','SiCl2','SiClNH2','N2H4','NHCl']
mass = [17,16,15,28,49.46,63.54,44.11,70.91,36.46,51.48,98.99,79.56,32.05,50.47]

import pandas as pd
df = pd.DataFrame({'MOLECULE':mols, 'MASS':mass})
df = df.sort_values(by='MASS').reset_index(drop=True)
df

   MOLECULE   MASS
0        NH  15.00
1       NH2  16.00
2       NH3  17.00
3        N2  28.00
4      N2H4  32.05
5       HCl  36.46
6     SiNH2  44.11
7       NCl  49.46
8      NHCl  50.47
9     NH2Cl  51.48
10     SiCl  63.54
11      Cl2  70.91
12  SiClNH2  79.56
13    SiCl2  98.99

In [15]:
df.values.tolist()

[['NH', 15.0],
 ['NH2', 16.0],
 ['NH3', 17.0],
 ['N2', 28.0],
 ['N2H4', 32.05],
 ['HCl', 36.46],
 ['SiNH2', 44.11],
 ['NCl', 49.46],
 ['NHCl', 50.47],
 ['NH2Cl', 51.48],
 ['SiCl', 63.54],
 ['Cl2', 70.91],
 ['SiClNH2', 79.56],
 ['SiCl2', 98.99]]

In [16]:
head = ["MOLECULE", "MASS"]
print(tabulate(df.values.tolist(), headers=head, tablefmt="grid",showindex="always")) # showindex="always"

+----+------------+--------+
|    | MOLECULE   |   MASS |
+====+============+========+
|  0 | NH         |  15    |
+----+------------+--------+
|  1 | NH2        |  16    |
+----+------------+--------+
|  2 | NH3        |  17    |
+----+------------+--------+
|  3 | N2         |  28    |
+----+------------+--------+
|  4 | N2H4       |  32.05 |
+----+------------+--------+
|  5 | HCl        |  36.46 |
+----+------------+--------+
|  6 | SiNH2      |  44.11 |
+----+------------+--------+
|  7 | NCl        |  49.46 |
+----+------------+--------+
|  8 | NHCl       |  50.47 |
+----+------------+--------+
|  9 | NH2Cl      |  51.48 |
+----+------------+--------+
| 10 | SiCl       |  63.54 |
+----+------------+--------+
| 11 | Cl2        |  70.91 |
+----+------------+--------+
| 12 | SiClNH2    |  79.56 |
+----+------------+--------+
| 13 | SiCl2      |  98.99 |
+----+------------+--------+